extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h1 Internships
  .row
    .col-md-7
        a(href = 'https://vesselbags.com')
            img(width= '500' height= '250' src='http://golfresortsintl.com/wp-content/uploads/2017/10/Screen-Shot-2014-08-25-at-6.31.05-PM.png')
    .col-md-5
      .pb-2.mt-2.mb-4.border-bottom
        h2 Data Analyst / Full Stack Intern
      h5 -	Analyzed website traffic data and developed app to increase customer conversion rate by 8.5%, increasing sales and marketing audience
      h5 -	Developed NodeJS embedded app coupled with noSQL Database, utilizing Shopify’s REST, OAuth2, Google Sheets and MailChimp API to automate sale of pre-order products and notify customers interested in the product.
      h5 -	Tracked and analyzed customer signup location via NodeJS Geolocation, allowing marketing team ability to advertise to areas of dense customers.  
      p
    .col-md-12
      .pb-2.mt-2.mb-4.border-bottom
    .col-md-7
        a(href = 'http://zonson.com')
            img(width= '400' height= '400' src='https://i.vimeocdn.com/portrait/1512133_640x640')
    .col-md-5
      .pb-2.mt-2.mb-4.border-bottom
        h2 Shipping & Logistics Intern
      h5 -	Designed Packing Slip and Invoice Shipping Templates using Liquid, optimizing shipping process.
      h5 -	Wrote Full Stack Application using NodeJS and Google Sheets API to automate inventory deduction from Point Of Sale(Both Brick and Morter and E-Store)
      h5 -	Managed inventory count using spreadsheets
      p
    .col-md-12
      .pb-2.mt-2.mb-4.border-bottom
    .col-md-7
        a(href = 'http://www.mysweetbamboo.com')
            img(width= '400' height= '400' src='http://www.eu-distributors.com/wp-content/uploads/2018/01/product_10921-1024x912.png')
    .col-md-5
      .pb-2.mt-2.mb-4.border-bottom
        h2 Supply Chain / Full Stack Intern
      h5 -	Created an wholesale order form for products using HTML, CSS, JQuery, and Bootstrap library that utilized google spreadsheets as database.
      h5 -	Managed Point of Sale Platform to reduce the cost of credit card interchange fees	
      h5 -	Researched WholeSale Manufacturers, analyzed and compared cost per item using excel
      h1



