extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h2 Hardware
    h4 Electric Longboard 
    a(href = 'https://vessel-nlp.herokuapp.com') 
        h5 View Source Code
    h5 Features: Regenerative Braking, Wireless Receiver, 24 MPH Speed, 10 Mile Range 
    h5 Thermoformed Kydex to encase electronics 
    img(src='https://drive.google.com/thumbnail?id=1Z2KOkC0vIWpoJ_tx3D1lhYrBpm__jmKc&sz=w700-h450')
    |       
    |
    h5 Pulley Mechanism
    img(src='https://drive.google.com/thumbnail?id=1nsd1LtLCSzfAKJpDuk7_NaL0ERNiCvxR&sz=w700-h450')
    |       
    |
    h5 Design and Layout
    h5 Brushless 2500W Motor controlled by 2.4Ghz Bluetooth Receiver
    h5 18650 Lithium Ion Batteries Soldered packs of 10 in series and 2 packs parallel
    img(src='https://drive.google.com/thumbnail?id=1-7hWHH31q7Elb0h4qdO-Mldt7kfkXVtfFgpTPz18vHU&sz=w700-h450')
    |       
    |
    img(src='https://drive.google.com/thumbnail?id=1IZbsSIe7foO83fck0pIRb94SVSHpcdRM53uwoTOmbtg&sz=w700-h450')
    |       
    |

    






