extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h2 Hardware
  .row
    .col-md-7
      h3 Electric Longboard 
        img(src='https://drive.google.com/thumbnail?id=1Z2KOkC0vIWpoJ_tx3D1lhYrBpm__jmKc&sz=w700-h450')
    .col-md-5
      p
      .pb-2.mt-2.mb-4.border-bottom
        h2 Features
      h4 Features: Regenerative Braking, Wireless Receiver, 24 MPH Speed, 10 Mile Range 
      h4 Thermoformed Kydex to protect and encase electronics 
      h1
        a.btn.btn-raised(href='https://github.com/Ryang20718/bldc', role='button') View Source Code »
    .col-md-7
      h3 Pulley Mechanism 
        img(src='https://drive.google.com/thumbnail?id=1nsd1LtLCSzfAKJpDuk7_NaL0ERNiCvxR&sz=w700-h450')
    .col-md-5
      p
      .pb-2.mt-2.mb-4.border-bottom
        h2 Torque/Speed
      h4 Gear Ratio: 1 : 2.5 for torque and speed balance
      h4 83 MM wheels for top speed of 24 MPH and smoother ride
      h1
    .col-md-7
      h3 Design and Layout
        img(src='https://drive.google.com/thumbnail?id=1-7hWHH31q7Elb0h4qdO-Mldt7kfkXVtfFgpTPz18vHU&sz=w650-h450')
        img(src='https://drive.google.com/thumbnail?id=1IZbsSIe7foO83fck0pIRb94SVSHpcdRM53uwoTOmbtg&sz=w700-h450')
    .col-md-5
      p
      .pb-2.mt-2.mb-4.border-bottom
        h2 Specs
      h4 Brushless 2500W Motor controlled by 2.4Ghz Bluetooth Receiver
      h4 18650 Lithium Ion Batteries Soldered packs of 10 in series and 2 packs parallel
      h1
        
    

