extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h1 Software Projects
    h3 Ecommerce/Data Analysis Applications  
    h4 AI-Reviews
    h5 Python Script that scrapes and stores comments about company/person, analyzes the response using Natural Language Processing sentiment analysis, and displays realtime graphs of pos/neg responses for company. Saved Company time from analyzing all comments individually.
    a(href = 'https://vessel-nlp.herokuapp.com') 
        h5 View Demo 
    a(href = 'https://github.com/Ryang20718/NLP-optimize-reviews')
        img(width= '700' height= '400' src='https://cdn-images-1.medium.com/max/2000/1*m2gDBT_nc-iE7R4AM3sHBQ.jpeg')
    |        
    |
    h4 InstaSubject
    h5 Python Script that analyzes user’s images/videos using machine learning image recognition to determine user’s top subjects/interests
    a(href = 'https://github.com/Ryang20718/NLP-optimize-reviews')
        img(width= '700' height= '400' src='https://cdnsite2.assist.ro/sites/default/files/styles/big/public/images/blog/Visual%20Recognition%20Tutorial%20with%20IBM%20Watson%20and%20Python%20%282%29.png?itok=IU_W2m3w')
    |        
    | 
    h4 Pre-Order Inventory
    h5 NodeJS embedded app coupled with noSQL Database, utilizing Shopify’s REST, OAuth2, Google Sheets and MailChimp API to automate sale of pre-order products and notify customers, and display real time data. Increased Customer Conversion rate by 8.5%. 
    a(href = 'https://github.com/Ryang20718/Inventory')
        img(src='https://drive.google.com/thumbnail?id=1DwlsWQmOCYaSDxjEFxwH1YAvVKf_FQGO&sz=w700-h450')
    |       
    |
    h3 Full Stack Applications
    h5 Python-Flask Application connecting users to buy/sell meals at UCLA.
    a(href = 'https://github.com/Ryang20718/Market-Swipe-')
        img(width= '450' height= '400' src='http://www.free-icons-download.net/images/dining-81804.png')
    |        
    | 
    h4 Stock-Notifier
    h5 NodeJS application scraping and storing stocks price fluctuations and notifying users below threshold.
    a(href = 'https://github.com/Ryang20718/Cheerio-Node-JS-Scraper')
        img(width= '450' height= '400' src='http://icons.iconarchive.com/icons/iynque/ios7-style/1024/Stocks-icon.png')
    |       
    | 
    h3 Cross Platform Mobile Applications
    h4 B-lock
    h5 C# Cross Platform application allowing users to store and retrieve passwords.
    a(href = 'https://github.com/Ryang20718/Bruin-Locker')
        img(src='https://drive.google.com/thumbnail?id=1UAHcxmwe6lUiF2XcWAtNJrtei82jbL5tP00R5hvF_aM&sz=w450-h400')
    |       
    |
    h4 SwipeCount
    h5 C# Cross Platform application to keep users finances in check by managing meal plans.
    a(href = 'https://github.com/Ryang20718/Swipe-Count-Mobile-Android')
        img(src='https://drive.google.com/thumbnail?id=1u4Cxb5OWwYRqJWxlTDudTAJFReDx5-0NBgN07qSqLCg&sz=w450-h400')
    |       
    |   
    h4 Bot / Automation Scripts
    a(href = 'https://github.com/Ryang20718/Bing-Web-Automation')
        img(width= '300' height= '300' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOkGLH6XQ-5r1KYBELslcLjL5woDZ9tDjIZaB8OWSpPaU_im8Q')
    |       
    |   
    h4 Random little applications / Software
    a(href = 'https://gist.github.com/Ryang20718')
        img(width= '300' height= '300' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQqnHh2qD0IUAdx7KZ2YL4Au89cli7Kd-iAMCDRIqRA7unLT4mZA')
    |       
    |   






