extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h2 Software Projects
    h4 Ecommerce/Data Analysis Applications
    a(href = href = 'https://github.com/Ryang20718/Inventory')
        img(width= '350' height= '350' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGST4ndlfBvfSiDx1qx-_K5xtBak7bA3yEnzb5t4fZTNysCpNe')
    |       
    |   
    a(href = href = 'https://github.com/Ryang20718/Pre-Order-Shopify')
        img(src='https://drive.google.com/thumbnail?id=1DwlsWQmOCYaSDxjEFxwH1YAvVKf_FQGO&sz=w350-h350')
    |       
    |   
    a(href = href = 'https://github.com/aacfla/ride-planner')
        img(width= '350' height= '350' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF4QQj5B1gbl0_5pBsePpl31zokRkx9Hs8Vn_LmPfPj-T-Y7TZ')
    |       
    |
    h4 Full Stack Web Applications 
    a(href = href = 'https://github.com/Ryang20718/dontgetfat')
        img(width= '300' height= '300' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVvdS-k4Kl0lSnXaSsZFPA-HrLMbquVqv2-KgfscDP5W06RbkBLg')
    |        
    | 
    a(href = href = 'https://github.com/Ryang20718/Market-Swipe-')
        img(width= '300' height= '300' src='http://www.free-icons-download.net/images/dining-81804.png')
    |        
    |    
    a(href = href = 'https://github.com/Ryang20718/Cheerio-Node-JS-Scraper')
        img(width= '300' height= '300' src='http://icons.iconarchive.com/icons/iynque/ios7-style/1024/Stocks-icon.png')
    |       
    | 
    h4 Cross Platform Mobile Applications
    a(href = href = 'https://github.com/Ryang20718/Bruin-Locker')
        img(src='https://drive.google.com/thumbnail?id=1UAHcxmwe6lUiF2XcWAtNJrtei82jbL5tP00R5hvF_aM&sz=w350-h350')
    |       
    |    
    a(href = href = 'https://github.com/Ryang20718/Swipe-Count-Mobile-Android')
        img(src='https://drive.google.com/thumbnail?id=1u4Cxb5OWwYRqJWxlTDudTAJFReDx5-0NBgN07qSqLCg&sz=w350-h350')
    |       
    |   
    h4 Bot / Automation Scripts
    a(href = href = 'https://github.com/Ryang20718/Bing-Web-Automation')
        img(width= '300' height= '300' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOkGLH6XQ-5r1KYBELslcLjL5woDZ9tDjIZaB8OWSpPaU_im8Q')
    |       
    |   
    h4 Random little applications / Software
    a(href = href = 'https://gist.github.com/Ryang20718')
        img(width= '300' height= '300' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQqnHh2qD0IUAdx7KZ2YL4Au89cli7Kd-iAMCDRIqRA7unLT4mZA')
    |       
    |   






